{
    "openapi": "3.1.0",
    "info": {
        "title": "nunu.ai API",
        "description": "The nunu.ai Public API allows you to programmatically interact with your projects, manage test runs, and upload builds.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://nunu.ai/api/v1"
        }
    ],
    "security": [
        {
            "apiKeyAuth": []
        }
    ],
    "paths": {
        "/runs": {
            "get": {
                "operationId": "listRuns",
                "summary": "List Runs",
                "description": "Retrieve a paginated list of runs for your project.",
                "tags": ["Runs"],
                "parameters": [
                    {
                        "name": "state",
                        "in": "query",
                        "description": "Filter by state",
                        "schema": {
                            "type": "string",
                            "enum": ["running", "completed", "all"],
                            "default": "all"
                        }
                    },
                    {
                        "name": "multiplayer_test_id",
                        "in": "query",
                        "description": "Filter by test ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "job_id",
                        "in": "query",
                        "description": "Filter by job ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "test_plan_execution_id",
                        "in": "query",
                        "description": "Filter by test plan execution ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "test_type",
                        "in": "query",
                        "description": "Filter by test type (e.g., verification)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Filter by tags (comma-separated). All specified tags must match.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "bugs",
                        "in": "query",
                        "description": "Filter by runs that found bugs (true returns runs where bug_count > 0)",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number (0-indexed)",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Results per page (1-100)",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "minimum": 1,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListRunsResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - API key lacks required permission",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "startRun",
                "summary": "Start a Run",
                "description": "Start a new test run using a multiplayer test, a test plan, or ephemeral instructions.",
                "tags": ["Runs"],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StartRunRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Run started successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StartRunResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Invalid parameters",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Test or deployment config not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/runs/{runId}": {
            "get": {
                "operationId": "getRunDetails",
                "summary": "Get Run Details",
                "description": "Retrieve detailed information about a specific run, including step-by-step results and artifacts.",
                "tags": ["Runs"],
                "parameters": [
                    {
                        "name": "runId",
                        "in": "path",
                        "required": true,
                        "description": "The multiplayer run ID (12 lowercase alphanumeric characters)",
                        "schema": {
                            "type": "string",
                            "pattern": "^[a-z0-9]{12}$"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RunDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Run not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/runs/{runId}/bugs": {
            "get": {
                "operationId": "listRunBugs",
                "summary": "List Run Bugs",
                "description": "Retrieve all bugs detected during a specific run.",
                "tags": ["Runs"],
                "parameters": [
                    {
                        "name": "runId",
                        "in": "path",
                        "required": true,
                        "description": "The multiplayer run ID",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListBugsResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Run not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/runs/stop": {
            "post": {
                "operationId": "stopRuns",
                "summary": "Stop Runs",
                "description": "Stop one or more running tests. Only jobs belonging to your project will be stopped.",
                "tags": ["Runs"],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StopRunsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "All jobs stopped successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StopRunsResponse"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "Partial success - some jobs failed to stop",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StopRunsResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No jobs found matching the provided IDs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/jobs": {
            "get": {
                "operationId": "listJobs",
                "summary": "List Jobs",
                "description": "Retrieve a paginated list of jobs for your project.",
                "tags": ["Runs"],
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by job status",
                        "schema": {
                            "type": "string",
                            "enum": ["queued", "running", "completed", "all"],
                            "default": "all"
                        }
                    },
                    {
                        "name": "test_plan_execution_id",
                        "in": "query",
                        "description": "Filter by test plan execution ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "multiplayer_test_id",
                        "in": "query",
                        "description": "Filter by test ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Filter by tags (comma-separated). All specified tags must match.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number (0-indexed)",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Results per page (1-100)",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "minimum": 1,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListJobsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Invalid query parameters",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - API key lacks required permission",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/jobs/{jobId}": {
            "get": {
                "operationId": "getJobDetails",
                "summary": "Get Job Details",
                "description": "Retrieve a specific job and its associated runs.",
                "tags": ["Runs"],
                "parameters": [
                    {
                        "name": "jobId",
                        "in": "path",
                        "required": true,
                        "description": "The job ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Job"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Job not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/test-plans": {
            "get": {
                "operationId": "listTestPlans",
                "summary": "List Test Plans",
                "description": "Retrieve a paginated list of test plans for your project.",
                "tags": ["Test Plans"],
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by test plan name",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Field to sort by",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "name",
                                "test_count",
                                "modified_at",
                                "created_at"
                            ],
                            "default": "name"
                        }
                    },
                    {
                        "name": "sort_order",
                        "in": "query",
                        "description": "Sort direction",
                        "schema": {
                            "type": "string",
                            "enum": ["asc", "desc"],
                            "default": "asc"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number (0-indexed)",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Results per page (1-100)",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "minimum": 1,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListTestPlansResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - API key lacks required permission",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "createTestPlan",
                "summary": "Create Test Plan",
                "description": "Create a new test plan for the authenticated project.",
                "tags": ["Test Plans"],
                "requestBody": {
                    "required": true,
                    "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateTestPlanRequest" } } }
                },
                "responses": {
                    "201": { "description": "Test plan created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TestPlan" } } } },
                    "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "403": { "description": "Forbidden - missing project:edit-tests", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
                }
            }
        },
        "/test-plans/{testPlanId}": {
            "get": {
                "operationId": "getTestPlan",
                "summary": "Get Test Plan",
                "description": "Retrieve a specific test plan by ID, including its test items.",
                "tags": ["Test Plans"],
                "parameters": [
                    {
                        "name": "testPlanId",
                        "in": "path",
                        "required": true,
                        "description": "The test plan ID (UUID)",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TestPlan"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Test plan not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "updateTestPlan",
                "summary": "Update Test Plan",
                "description": "Apply a partial update to a test plan.",
                "tags": ["Test Plans"],
                "parameters": [
                    { "name": "testPlanId", "in": "path", "required": true, "description": "Test plan ID (UUID)", "schema": { "type": "string", "format": "uuid" } }
                ],
                "requestBody": {
                    "required": true,
                    "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateTestPlanRequest" } } }
                },
                "responses": {
                    "200": { "description": "Test plan updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TestPlan" } } } },
                    "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "403": { "description": "Forbidden - missing project:edit-tests", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "404": { "description": "Test plan not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
                }
            },
            "delete": {
                "operationId": "deleteTestPlan",
                "summary": "Delete Test Plan",
                "description": "Delete a test plan.",
                "tags": ["Test Plans"],
                "parameters": [
                    { "name": "testPlanId", "in": "path", "required": true, "description": "Test plan ID (UUID)", "schema": { "type": "string", "format": "uuid" } }
                ],
                "responses": {
                    "200": { "description": "Test plan deleted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeleteResponse" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "403": { "description": "Forbidden - missing project:edit-tests", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "404": { "description": "Test plan not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
                }
            }
        },
        "/test-plan-executions": {
            "get": {
                "operationId": "listTestPlanExecutions",
                "summary": "List Test Plan Executions",
                "description": "Retrieve a paginated list of test plan executions for your project.",
                "tags": ["Test Plans"],
                "parameters": [
                    {
                        "name": "test_plan_id",
                        "in": "query",
                        "description": "Filter by test plan ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "build_id",
                        "in": "query",
                        "description": "Filter by build ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by execution status",
                        "schema": {
                            "type": "string",
                            "enum": ["completed", "in_progress", "queued"]
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Field to sort by",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "start_time",
                                "test_plan_name",
                                "build_name"
                            ],
                            "default": "start_time"
                        }
                    },
                    {
                        "name": "sort_order",
                        "in": "query",
                        "description": "Sort direction",
                        "schema": {
                            "type": "string",
                            "enum": ["asc", "desc"],
                            "default": "desc"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number (0-indexed)",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Results per page (1-100)",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "minimum": 1,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListTestPlanExecutionsResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - API key lacks required permission",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/builds": {
            "get": {
                "operationId": "listBuilds",
                "summary": "List Builds",
                "description": "Retrieve a paginated list of builds for your project.",
                "tags": ["Builds"],
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by build status (e.g., OK, UNHEALTHY)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pinned",
                        "in": "query",
                        "description": "Filter by pinned status",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "nunu_sdk",
                        "in": "query",
                        "description": "Filter by nunu SDK integration",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "platform",
                        "in": "query",
                        "description": "Filter by platform",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "windows",
                                "macos",
                                "linux",
                                "android",
                                "ios-native",
                                "ios-simulator",
                                "xbox",
                                "playstation"
                            ]
                        }
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Filter by tags (comma-separated). All specified tags must match.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number (0-indexed)",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Results per page (1-100)",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "minimum": 1,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListBuildsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Invalid query parameters",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - API key lacks required permission",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/builds/{buildId}": {
            "get": {
                "operationId": "getBuild",
                "summary": "Get Build Details",
                "description": "Retrieve details for a specific build.",
                "tags": ["Builds"],
                "parameters": [
                    {
                        "name": "buildId",
                        "in": "path",
                        "required": true,
                        "description": "The build ID (UUID)",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BuildWithDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - API key lacks required permission",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Build not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "deleteBuild",
                "summary": "Delete Build",
                "description": "Permanently delete a build from storage.",
                "tags": ["Builds"],
                "parameters": [
                    {
                        "name": "buildId",
                        "in": "path",
                        "required": true,
                        "description": "The build ID (UUID)",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteBuildResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - buildId is required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - API key lacks required permission",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Build not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/builds/upload": {
            "post": {
                "operationId": "initiateUpload",
                "summary": "Initiate Upload",
                "description": "Initiate a build upload (single-part or multipart).",
                "tags": ["Builds"],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InitiateUploadRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Upload initiated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/SinglePartUploadResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/MultipartUploadResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Storage capacity exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "cancelUpload",
                "summary": "Cancel Upload",
                "description": "Cancel an in-progress upload.",
                "tags": ["Builds"],
                "parameters": [
                    {
                        "name": "build_id",
                        "in": "query",
                        "required": true,
                        "description": "Build ID to cancel",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "object_key",
                        "in": "query",
                        "required": true,
                        "description": "Object key for the upload",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "upload_id",
                        "in": "query",
                        "description": "Upload ID (required for multipart uploads)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Upload cancelled successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Upload not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/builds/upload/parts": {
            "get": {
                "operationId": "getUploadParts",
                "summary": "Get Upload URLs for Parts",
                "description": "Get presigned URLs for uploading parts in a multipart upload. The upload_id serves as authentication for this endpoint.",
                "tags": ["Builds"],
                "security": [],
                "parameters": [
                    {
                        "name": "upload_id",
                        "in": "query",
                        "required": true,
                        "description": "The upload ID (serves as authentication)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "object_key",
                        "in": "query",
                        "required": true,
                        "description": "The object key for the upload",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "part_numbers",
                        "in": "query",
                        "required": true,
                        "description": "Comma-separated list of part numbers to get URLs for",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Presigned URLs for parts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadPartsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/builds/upload/complete": {
            "post": {
                "operationId": "completeUpload",
                "summary": "Complete Upload",
                "description": "Complete a build upload (single-part or multipart).",
                "tags": ["Builds"],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CompleteUploadRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Upload completed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CompleteUploadResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Upload not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/runs/{runId}/live": {
            "get": {
                "operationId": "getLiveRunSnapshot",
                "summary": "Get Live Run Snapshot",
                "description": "Return a live snapshot for an active run, including latest game state and (optionally) per-player screenshots.",
                "tags": ["Runs"],
                "parameters": [
                    {
                        "name": "runId",
                        "in": "path",
                        "required": true,
                        "description": "The multiplayer run ID (12 lowercase alphanumeric characters)",
                        "schema": { "type": "string", "pattern": "^[a-z0-9]{12}$" }
                    },
                    {
                        "name": "include_screenshot",
                        "in": "query",
                        "description": "Whether to include per-player screenshots",
                        "schema": { "type": "boolean", "default": true }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Live run snapshot",
                        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LiveRunSnapshot" } } }
                    },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "404": { "description": "Run not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
                }
            }
        },
        "/runs/export": {
            "post": {
                "operationId": "exportRuns",
                "summary": "Export Runs",
                "description": "Stream a ZIP archive containing one JSON file per composite run.",
                "tags": ["Runs"],
                "requestBody": {
                    "required": true,
                    "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ExportRunsRequest" } } }
                },
                "responses": {
                    "200": {
                        "description": "ZIP archive (chunked)",
                        "content": { "application/zip": { "schema": { "type": "string", "format": "binary" } } }
                    },
                    "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "403": { "description": "Forbidden - run does not belong to the authenticated project, or feature is restricted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "404": { "description": "No runs found for the provided IDs", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
                }
            }
        },
        "/bugs": {
            "get": {
                "operationId": "listReviewedBugs",
                "summary": "List Reviewed Bugs",
                "description": "Retrieve a paginated list of reviewed bugs for your project.",
                "tags": ["Bugs"],
                "parameters": [
                    { "name": "status", "in": "query", "description": "Filter by status", "schema": { "type": "string", "enum": ["active", "archived", "all"], "default": "active" } },
                    { "name": "search", "in": "query", "description": "Free-text search across title/description/reproduction steps", "schema": { "type": "string" } },
                    { "name": "severity", "in": "query", "description": "Filter by severity", "schema": { "type": "string", "enum": ["low", "medium", "high", "critical"] } },
                    { "name": "category", "in": "query", "description": "Filter by bug category", "schema": { "type": "string" } },
                    { "name": "sort_by", "in": "query", "description": "Field to sort by", "schema": { "type": "string" } },
                    { "name": "sort_order", "in": "query", "description": "Sort direction", "schema": { "type": "string", "enum": ["asc", "desc"] } },
                    { "name": "page", "in": "query", "description": "Page number (0-indexed)", "schema": { "type": "integer", "default": 0 } },
                    { "name": "page_size", "in": "query", "description": "Results per page (1-100)", "schema": { "type": "integer", "default": 20, "minimum": 1, "maximum": 100 } }
                ],
                "responses": {
                    "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ListReviewedBugsResponse" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "403": { "description": "Forbidden - bug review feature disabled or missing permission", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
                }
            }
        },
        "/bugs/{bugId}": {
            "get": {
                "operationId": "getReviewedBug",
                "summary": "Get Reviewed Bug",
                "description": "Retrieve a single reviewed bug, including all per-run occurrences.",
                "tags": ["Bugs"],
                "parameters": [
                    { "name": "bugId", "in": "path", "required": true, "description": "Bug ID", "schema": { "type": "string" } }
                ],
                "responses": {
                    "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ReviewedBugDetails" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "403": { "description": "Forbidden - bug review feature disabled or missing permission", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "404": { "description": "Bug not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
                }
            }
        },
        "/tests": {
            "get": {
                "operationId": "listTests",
                "summary": "List Tests",
                "description": "Retrieve a paginated list of test cases for your project, optionally filtered to a single folder.",
                "tags": ["Tests"],
                "parameters": [
                    { "name": "folder_path", "in": "query", "description": "Folder path filter (mutually exclusive with folder_id). \"/\" or omitted means root.", "schema": { "type": "string" } },
                    { "name": "folder_id", "in": "query", "description": "Folder UUID filter (mutually exclusive with folder_path)", "schema": { "type": "string", "format": "uuid" } },
                    { "name": "page", "in": "query", "description": "Page number (0-indexed)", "schema": { "type": "integer", "default": 0 } },
                    { "name": "page_size", "in": "query", "description": "Results per page (1-100)", "schema": { "type": "integer", "default": 25, "minimum": 1, "maximum": 100 } }
                ],
                "responses": {
                    "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ListTestsResponse" } } } },
                    "400": { "description": "Bad Request - both folder_path and folder_id supplied", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
                }
            },
            "post": {
                "operationId": "createTest",
                "summary": "Create Test",
                "description": "Create a new test case in the authenticated project.",
                "tags": ["Tests"],
                "parameters": [
                    { "name": "include_shared_collection_steps", "in": "query", "description": "Whether shared collection steps are expanded inline in the response", "schema": { "type": "boolean", "default": true } },
                    { "name": "shared_collection_steps_mode", "in": "query", "description": "How to treat shared collection items with inline steps", "schema": { "type": "string", "enum": ["error", "drop"], "default": "error" } }
                ],
                "requestBody": {
                    "required": true,
                    "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateTestRequest" } } }
                },
                "responses": {
                    "201": { "description": "Test created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TestCase" } } } },
                    "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "403": { "description": "Forbidden - missing project:edit-tests", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
                }
            }
        },
        "/tests/{testId}": {
            "get": {
                "operationId": "getTest",
                "summary": "Get Test",
                "description": "Retrieve a single test case, optionally by version.",
                "tags": ["Tests"],
                "parameters": [
                    { "name": "testId", "in": "path", "required": true, "description": "The test ID (UUID)", "schema": { "type": "string", "format": "uuid" } },
                    { "name": "version", "in": "query", "description": "Specific version (positive integer)", "schema": { "type": "integer", "minimum": 1 } },
                    { "name": "include_shared_collection_steps", "in": "query", "description": "Whether shared collection steps are expanded inline", "schema": { "type": "boolean", "default": true } }
                ],
                "responses": {
                    "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TestCase" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "404": { "description": "Test not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
                }
            },
            "patch": {
                "operationId": "updateTest",
                "summary": "Update Test",
                "description": "Apply a partial update to a test case. Uses optimistic concurrency control via expected_version.",
                "tags": ["Tests"],
                "parameters": [
                    { "name": "testId", "in": "path", "required": true, "description": "The test ID (UUID)", "schema": { "type": "string", "format": "uuid" } },
                    { "name": "include_shared_collection_steps", "in": "query", "description": "Whether shared collection steps are expanded inline", "schema": { "type": "boolean", "default": true } }
                ],
                "requestBody": {
                    "required": true,
                    "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateTestRequest" } } }
                },
                "responses": {
                    "200": { "description": "Test updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TestCase" } } } },
                    "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "403": { "description": "Forbidden - missing project:edit-tests", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "404": { "description": "Test not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "409": { "description": "Version conflict", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VersionConflictError" } } } }
                }
            },
            "delete": {
                "operationId": "deleteTest",
                "summary": "Delete Test",
                "description": "Delete a test case from the authenticated project.",
                "tags": ["Tests"],
                "parameters": [
                    { "name": "testId", "in": "path", "required": true, "description": "The test ID (UUID)", "schema": { "type": "string", "format": "uuid" } }
                ],
                "requestBody": {
                    "required": false,
                    "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeleteTestRequest" } } }
                },
                "responses": {
                    "200": { "description": "Test deleted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeleteResponse" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "403": { "description": "Forbidden - missing project:edit-tests", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "404": { "description": "Test not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "409": { "description": "Test has associated runs", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
                }
            }
        },
        "/test-folders": {
            "get": {
                "operationId": "listTestFolders",
                "summary": "List Test Folders",
                "description": "Retrieve a paginated list of test folders for the authenticated project.",
                "tags": ["Tests"],
                "parameters": [
                    { "name": "page", "in": "query", "description": "Page number (0-indexed)", "schema": { "type": "integer", "default": 0 } },
                    { "name": "page_size", "in": "query", "description": "Results per page (1-100)", "schema": { "type": "integer", "default": 25, "minimum": 1, "maximum": 100 } }
                ],
                "responses": {
                    "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ListTestFoldersResponse" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
                }
            }
        },
        "/shared-steps": {
            "get": {
                "operationId": "listSharedSteps",
                "summary": "List Shared Steps",
                "description": "Retrieve a list of shared step collections for the authenticated project.",
                "tags": ["Shared Steps"],
                "parameters": [
                    { "name": "page", "in": "query", "description": "Page number (0-indexed)", "schema": { "type": "integer", "default": 0, "minimum": 0 } },
                    { "name": "page_size", "in": "query", "description": "Results per page (1-100)", "schema": { "type": "integer", "default": 25, "minimum": 1, "maximum": 100 } }
                ],
                "responses": {
                    "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ListSharedStepsResponse" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
                }
            },
            "post": {
                "operationId": "createSharedStep",
                "summary": "Create Shared Step",
                "description": "Create a new shared step collection.",
                "tags": ["Shared Steps"],
                "requestBody": {
                    "required": true,
                    "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateSharedStepRequest" } } }
                },
                "responses": {
                    "201": { "description": "Shared step created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SharedStep" } } } },
                    "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "403": { "description": "Forbidden - missing project:edit-tests", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
                }
            }
        },
        "/shared-steps/{sharedStepId}": {
            "get": {
                "operationId": "getSharedStep",
                "summary": "Get Shared Step",
                "description": "Retrieve a shared step collection, optionally by version.",
                "tags": ["Shared Steps"],
                "parameters": [
                    { "name": "sharedStepId", "in": "path", "required": true, "description": "Shared step collection ID", "schema": { "type": "string" } },
                    { "name": "version", "in": "query", "description": "Specific version (positive integer)", "schema": { "type": "integer", "minimum": 1 } }
                ],
                "responses": {
                    "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SharedStep" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "404": { "description": "Shared step not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
                }
            },
            "patch": {
                "operationId": "updateSharedStep",
                "summary": "Update Shared Step",
                "description": "Apply a partial update to a shared step collection. Uses optimistic concurrency control via expected_version.",
                "tags": ["Shared Steps"],
                "parameters": [
                    { "name": "sharedStepId", "in": "path", "required": true, "description": "Shared step collection ID", "schema": { "type": "string" } }
                ],
                "requestBody": {
                    "required": true,
                    "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateSharedStepRequest" } } }
                },
                "responses": {
                    "200": { "description": "Shared step updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SharedStep" } } } },
                    "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "403": { "description": "Forbidden - missing project:edit-tests", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "404": { "description": "Shared step not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "409": { "description": "Version conflict", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VersionConflictError" } } } }
                }
            },
            "delete": {
                "operationId": "deleteSharedStep",
                "summary": "Delete Shared Step",
                "description": "Delete a shared step collection. Fails with 409 if the collection is still referenced by tests.",
                "tags": ["Shared Steps"],
                "parameters": [
                    { "name": "sharedStepId", "in": "path", "required": true, "description": "Shared step collection ID", "schema": { "type": "string" } }
                ],
                "responses": {
                    "200": { "description": "Shared step deleted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeleteResponse" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "403": { "description": "Forbidden - missing project:edit-tests", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "404": { "description": "Shared step not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "409": { "description": "Shared step is referenced by tests", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
                }
            }
        },
        "/test-plans/{testPlanId}/runs": {
            "post": {
                "operationId": "startTestPlanRun",
                "summary": "Start Test Plan Run",
                "description": "Start a run for a specific test plan.",
                "tags": ["Test Plans"],
                "parameters": [
                    { "name": "testPlanId", "in": "path", "required": true, "description": "Test plan ID (UUID)", "schema": { "type": "string", "format": "uuid" } }
                ],
                "requestBody": {
                    "required": true,
                    "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StartTestPlanRunRequest" } } }
                },
                "responses": {
                    "201": { "description": "Run queued", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StartRunResponse" } } } },
                    "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "403": { "description": "Forbidden - missing project:operate-runs", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "404": { "description": "Test plan not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
                }
            }
        },
        "/agent-configs": {
            "get": {
                "operationId": "listAgentConfigs",
                "summary": "List Agent Configs",
                "description": "Retrieve a paginated list of agent configurations for your project.",
                "tags": ["Configs"],
                "parameters": [
                    { "name": "page", "in": "query", "description": "Page number (0-indexed)", "schema": { "type": "integer", "default": 0 } },
                    { "name": "page_size", "in": "query", "description": "Results per page (1-100)", "schema": { "type": "integer", "default": 25, "minimum": 1, "maximum": 100 } }
                ],
                "responses": {
                    "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ListAgentConfigsResponse" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "403": { "description": "Forbidden - missing project:view-configs", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
                }
            }
        },
        "/deployment-configs": {
            "get": {
                "operationId": "listDeploymentConfigs",
                "summary": "List Deployment Configs",
                "description": "Retrieve a paginated list of deployment configurations for your project.",
                "tags": ["Configs"],
                "parameters": [
                    { "name": "page", "in": "query", "description": "Page number (0-indexed)", "schema": { "type": "integer", "default": 0 } },
                    { "name": "page_size", "in": "query", "description": "Results per page (1-100)", "schema": { "type": "integer", "default": 25, "minimum": 1, "maximum": 100 } }
                ],
                "responses": {
                    "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ListDeploymentConfigsResponse" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "403": { "description": "Forbidden - missing project:view-configs", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
                }
            }
        },
        "/credential-kinds": {
            "get": {
                "operationId": "listCredentialKinds",
                "summary": "List Credential Kinds",
                "description": "Retrieve a paginated list of credential kinds for your project.",
                "tags": ["Configs"],
                "parameters": [
                    { "name": "page", "in": "query", "description": "Page number (0-indexed)", "schema": { "type": "integer", "default": 0 } },
                    { "name": "page_size", "in": "query", "description": "Results per page (1-100)", "schema": { "type": "integer", "default": 25, "minimum": 1, "maximum": 100 } }
                ],
                "responses": {
                    "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ListCredentialKindsResponse" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
                    "403": { "description": "Forbidden - missing project:view-configs", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Error": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "string"
                    },
                    "code": {
                        "type": "string"
                    },
                    "details": {
                        "type": "object"
                    }
                }
            },
            "Run": {
                "type": "object",
                "properties": {
                    "job_id": {
                        "type": "string",
                        "description": "Job identifier that created this run"
                    },
                    "multiplayer_run_id": {
                        "type": "string",
                        "description": "Unique identifier for the run (12 lowercase alphanumeric chars)"
                    },
                    "project_id": {
                        "type": "string",
                        "description": "Project the run belongs to"
                    },
                    "state": {
                        "type": "string",
                        "enum": ["initializing", "running", "completed"],
                        "description": "Current state of the run"
                    },
                    "result": {
                        "type": "string",
                        "enum": ["success", "failure", "error"],
                        "nullable": true,
                        "description": "Result of the run (null if not completed)"
                    },
                    "bug_info": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "bug_label": {
                                "type": "string"
                            },
                            "bug_count": {
                                "type": "integer"
                            }
                        }
                    },
                    "test": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            },
                            "type": {
                                "type": "string"
                            }
                        }
                    },
                    "build": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            }
                        }
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "started_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "completed_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "duration_ms": {
                        "type": "integer",
                        "nullable": true
                    },
                    "initiator": {
                        "type": "object",
                        "properties": {
                            "type": {
                                "type": "string"
                            },
                            "value": {
                                "type": "object"
                            }
                        }
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "players": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Player"
                        }
                    }
                }
            },
            "Player": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "result": {
                        "type": "string"
                    },
                    "player_number": {
                        "type": "integer"
                    },
                    "test_name": {
                        "type": "string"
                    },
                    "composite_test_id": {
                        "type": "string"
                    },
                    "step_count": {
                        "type": "integer"
                    },
                    "completed_step_count": {
                        "type": "integer"
                    },
                    "platform": {
                        "type": "object",
                        "properties": {
                            "type": {
                                "type": "string"
                            },
                            "device": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "ListRunsResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Run"
                        }
                    },
                    "pagination": {
                        "type": "object",
                        "properties": {
                            "page": {
                                "type": "integer"
                            },
                            "page_size": {
                                "type": "integer"
                            },
                            "total_count": {
                                "type": "integer"
                            },
                            "total_pages": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "JobRunSummary": {
                "type": "object",
                "properties": {
                    "multiplayer_run_id": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string",
                        "nullable": true
                    },
                    "result": {
                        "type": "string",
                        "nullable": true
                    },
                    "started_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "completed_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "players": {
                        "type": "integer"
                    }
                }
            },
            "JobRetries": {
                "type": "object",
                "properties": {
                    "total": {
                        "type": "integer"
                    },
                    "remaining": {
                        "type": "integer"
                    }
                }
            },
            "Job": {
                "type": "object",
                "properties": {
                    "job_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "project_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "QUEUED",
                            "STARTING",
                            "RUNNING",
                            "STOPPING",
                            "CLEANING_UP",
                            "COMPLETED"
                        ]
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "completed_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "multiplayer_test_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "test_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "platform": {
                        "type": "string",
                        "nullable": true
                    },
                    "build_id": {
                        "type": "string",
                        "format": "uuid",
                        "nullable": true
                    },
                    "test_plan_execution_id": {
                        "type": "string",
                        "format": "uuid",
                        "nullable": true
                    },
                    "queue_rejection_reason": {
                        "type": "string",
                        "nullable": true
                    },
                    "templating_enabled": {
                        "type": "boolean"
                    },
                    "template_data": {
                        "type": "object",
                        "nullable": true
                    },
                    "stopped_by": {
                        "type": "object",
                        "nullable": true
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "retries": {
                        "$ref": "#/components/schemas/JobRetries"
                    },
                    "runs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/JobRunSummary"
                        }
                    }
                }
            },
            "TestPlanTestItem": {
                "type": "object",
                "properties": {
                    "multiplayer_test_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "ID of the test to include in the plan"
                    },
                    "retries": {
                        "type": "integer",
                        "minimum": 0,
                        "default": 0,
                        "description": "Number of retries for this test item"
                    }
                },
                "required": ["multiplayer_test_id"]
            },
            "TestPlan": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Unique identifier for the test plan"
                    },
                    "project_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Project the test plan belongs to"
                    },
                    "name": {
                        "type": "string",
                        "description": "Test plan name"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "created_by": {
                        "type": "string",
                        "nullable": true
                    },
                    "modified_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "modified_by": {
                        "type": "string",
                        "nullable": true
                    },
                    "test_items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TestPlanTestItem"
                        },
                        "description": "Ordered list of tests in this plan"
                    }
                }
            },
            "TestPlanSummary": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "project_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "name": {
                        "type": "string"
                    },
                    "test_count": {
                        "type": "integer",
                        "description": "Number of tests in the plan"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "created_by": {
                        "type": "string",
                        "nullable": true
                    },
                    "modified_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "modified_by": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "ListTestPlansResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TestPlanSummary"
                        }
                    },
                    "pagination": {
                        "type": "object",
                        "properties": {
                            "page": {
                                "type": "integer"
                            },
                            "page_size": {
                                "type": "integer"
                            },
                            "total_count": {
                                "type": "integer"
                            },
                            "total_pages": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "TestPlanExecutionTestStatus": {
                "type": "object",
                "properties": {
                    "passed": {
                        "type": "integer"
                    },
                    "failed": {
                        "type": "integer"
                    },
                    "stopped": {
                        "type": "integer"
                    },
                    "queued": {
                        "type": "integer"
                    },
                    "running": {
                        "type": "integer"
                    }
                }
            },
            "TestPlanExecutionSummary": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Execution ID"
                    },
                    "test_plan_id": {
                        "type": "string",
                        "format": "uuid",
                        "nullable": true,
                        "description": "ID of the test plan that was executed"
                    },
                    "test_plan_name": {
                        "type": "string",
                        "nullable": true,
                        "description": "Name of the test plan"
                    },
                    "build_id": {
                        "type": "string",
                        "format": "uuid",
                        "nullable": true,
                        "description": "ID of the build used"
                    },
                    "build_name": {
                        "type": "string",
                        "nullable": true,
                        "description": "Name of the build used"
                    },
                    "status": {
                        "type": "string",
                        "enum": ["completed", "in_progress", "queued"],
                        "description": "Current execution status"
                    },
                    "started_at": {
[...]
